<h1>About Social Magic</h1>
<p>Created by: <%= link_to "Donavin", "mailto:dnorthrup25@gmail.com", class: "emailMe" %> </p>
<p>All MTG Rights belong to <%= link_to "Wizards of the Coast", "https://company.wizards.com/", class: "wizardLink" %> </p>
<button>
    <%= link_to "Follow me", "https://www.twitter.com/DaRealDNorthrup", class: "social-btn" %>
</button>

